<footer class="footer">
  <div class="content has-text-centered">
    <nav class="level">
      <div class="level-item has-text-centered">
        <a class="link is-info">Home</a>
      </div>
      <div class="level-item has-text-centered">
        <a class="link is-info">Menu</a>
      </div>
      <div class="level-item has-text-centered footer-logo-box">
        <span class="footer-logo">SprinNG</span>
      </div>
      <div class="level-item has-text-centered">
        <a class="link is-info">Reservations</a>
      </div>
      <div class="level-item has-text-centered">
        <a class="link is-info">Contact</a>
      </div>
    </nav>
  </div>
</footer>
  

  
  <script>$('[data-toggle="tooltip"]').tooltip()</script>

  </body>
</html>