<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SprinNG - Home</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Quicksand:wght@300;400;600;700&display=swap">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://kit.fontawesome.com/34a9cf9ccb.css" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/34a9cf9ccb.js" crossorigin="anonymous"></script>
        <script src="/scripts/script.js" defer></script>
    </head>
    <body>
       <nav class="navbar is-fixed-top has-shadow" role="navigation" arial-label="main navigation">
            <div class="navbar-brand">
                <a href="/" class="navbar-item">SprinNG</a>
                <button id="searchIcon" class="navbar-item navbar-search-icon navbar-search-mobile-icon">
                    <span class="icon">
                        <i class="fas fa-lg fa-search"></i>
                    </span>
                </button>
                <a role="button" class="navbar-burger" data-target="navMenu"  aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="search" class="search control">
                <form action="/author/search/" method="GET" class="nav-search">
                    <input id="algoliaSearch" name="search_key" class="input is-rounded ds-input" type="text" placeholder="Search for an author" autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-label="search input" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
                    <div class="level-item nav-sr-btn">
                        <button class="button is-success is-outlined">Search</button>
                    </div>
                </form>
            </div>
            <div id="navMenu" class="navbar-menu" >
                <div class="navbar-start"> 
                    <a href="#" class="navbar-item">
                        <div id="nav-main-search"  class="level">
                            <form action="/author/search/" method="GET">
                                <div class="level-left">
                                    <div class="level-item search-w">
                                        <input class="input is-rounded ds-input is-rounded is-normal" name="author_name" type="text" placeholder="search for an author">
                                    </div>
                                    <div class="level-item nav-sr-btn">
                                        <button class="button is-success is-outlined">Search</button>
                                    </div>
                                   
                                </div>
                            </form>
                        </div>
                     
                        <!-- Search form to be completed -->
                    </a>
                </div> 
                <div class="navbar-end">
                    <% if(currentUser) { %>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                <figure class="image is-24x24">
                                    <img class="is-rounded" src="<%= currentUser.photo %>">
                               </figure>
                            </a>
                            <div class="navbar-dropdown">
                              <a class="navbar-item">
                                Signed in as <%= currentUser.username %>
                              </a>
                              <a class="navbar-item">
                                My Profile
                              </a>
                              <hr class="navbar-divider">
                              <a href="/logout" class="navbar-item">
                                 Logout
                              </a>
                            </div>
                          </div>
                    <% } else { %>
                    <!-- <a href="" class="navbar-item">
                        Writers
                    </a> -->
                    <div class="navbar-item">
                        <div class="buttons">
                            <a href="/signup" class="button is-primary">
                                Sign up
                            </a>
                            <a href="/login" class="button is-light">
                                Log in
                            </a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
       </nav>
       <div class="container u-mt-4">
        <div class="flash-message">
            <% if(error && error.length){ %>
                <div class="notification is-danger">
                <p class=" error-text"><%= error %></p>
            </div>
        <% } %>
        <% if(success && success.length) { %>
                <div class="notification is-success">
                <p class="success-text"><%= success %></p>
                </div>
           
        <% } %>
        </div>
    </div>
