<%- include ("./partials/header") -%>

<section class="hero  is-halfheight">
  <div class="hero-body">
      <div class="level">
          <div class="level-content">
              <div class="hero-text-headline">
                  <h1 class="title hero-title-size  w-text">
                       SprinNG
                 </h1>
                 <h3 class="subtitle hero-subtitle-size  w-text">Writers</h3>
                 <p class="subtitle is-4 w-text">Building a community of writers you want to know!</p>
              </div>
            <div class="level-item no-flex">
                <div class="buttons">
                   <button class="button hero-button is-dark mt-2 ">
                    <a class="w-text w-text" href="/login">Join Community</a>
                </button>
              </div>
            </div>
           
          </div>
           <div class="level-right is-hidden-mobile is-hidden-tablet-only">
              <div class="level-item">
                  <figure class="image  hero-img hero-img-1">
                      <img src="./images/Adedayo.png" class="female-figure" alt="image banner">
                  </figure>
               </div>
                <div class="level-item">
                  <figure class="image hero-img hero-img-2">
                      <img src="./images/Emmanuel-Faith-Portraits-6b-removebg-preview.png" class="male-figure" alt="image banner">
                  </figure>  
                  </div>
      </div>
      <!-- <div class="">
          <h1 class="title is-size-1-desktop is-size-2-mobile">
              SprinNG
         </h1>
         <h3 class="subtitle is-3 is-spaced">Writers</h3>
         <div class="buttons">
               <button class="button is-dark">Join Community</button>
          </div>
      </div> 
          <div class="columns">
              <div class="column is-5">
                  <img src="./img/Adedayo.png" class="female-figure" alt="image banner">
              </div>
              <div class="column is-5">
                  <img src="./img/Emmanuel-Faith-Portraits-6b-removebg-preview.png" class="male-figure" alt="image banner">
              </div>
          </div> -->
  </div>
</section>
<section id="about-us" class="section about-us">
  <div class="container about-content">
      <div class="est-date has-text-centered">
          <p class="subtitle is-size-4-desktop is-size-5-mobile txt-color">Est. May 2016</p>
          <p class="subtitle is-size-1-desktop is-size-3-tablet is-size-4-mobile">"<span class="txt-color">SprinNG</span>" is a Literary Movement and Society for the Promotion, Revitalization, and Improvement of New Nigerian Generations in Writing and Literature."
          </p>
      </div>
  </div>
  <div class="container">
      <h2 class="title is-size-1-desktop is-size-3-tablet is-size-3-mobile has-text-centered mt-sm">What We Do:</h2>
      <div class="columns">
          <div class="column is-4">
              <div class="box">
                  <div class="box-icon">
                      <i class="fa-solid fa-star fa-icon-color has-text-centered"></i>
                  </div>
                  <p>
                      Through our website, we publish reviews, poems, stories, essays, and fiction, all of which engender the soul of the national literature
                  </p>
              </div>
          </div>
          <div class="column is-4">
              <div class="box">
                  <div class="box-icon">
                      <i class="fa-solid fa-star fa-icon-color"></i>
                  </div>
                  <p>
                      We founded and manage a Nigerian Writers Database that host the biography of about 400 writers
                  </p>
              </div>
          </div>

          <div class="column is-4">
              <div class="box">
                  <div class="box-icon">
                      <i class="fa-solid fa-star fa-icon-color"></i>
                  </div>
                  <p>
                      We have a SprinNG Lit page dedicated to promoting other literary websites worldwide and informing writers of opportunities outside what SprinNG offers
                  </p>
              </div>
          </div>
      </div>
      <div class="columns">
          <div class="column is-4">
              <div class="box">
                  <div class="box-icon">
                      <i class="fa-solid fa-star fa-icon-color"></i>
                  </div>
                  <p>
                      We conduct an annual creative writing fellowship, providing 1 month of free mentorship to select writers with resources such as airtime, paid access to books and more, during the fellowship.
                  </p>
              </div>
          </div>

          <div class="column is-4">
              <div class="box">
                  <div class="box-icon">
                      <i class="fa-solid fa-star fa-icon-color"></i>
                  </div>
                  <p>
                      We have The SprinNG Advancement Fellowship which is a self-paced (4 weeks) fellowship that helps develop career content and improve your professional communication skills to attain academic and career goals.
                  </p>
              </div>
          </div>

          <div class="column is-4">
              <div class="box">
                  <div class="box-icon">
                      <i class="fa-solid fa-star fa-icon-color"></i>
                  </div>
                  <p>
                      We discover and promote female Nigerian authors with the Annual SprinNG Women Authors Prize #SWAP – combating the unequal gender representation and participation in Nigeria's literary industry.
                  </p>
              </div>
          </div>
      </div>

      <div class="columns">
          <div class="column is-4">
              <div class="box">
                  <div class="box-icon">
                      <i class="fa-solid fa-star fa-icon-color"></i>
                  </div>
                  <p>
                      We also run an annual SprinNG Poetry Contest with a unique theme to celebrate our anniversary.
                  </p>
              </div>
          </div>

          <!-- <div class="column is-4">
              <div class="feature-box">
                  <div class="icon-box"></div>
                  <p>
                      Through our website, we publish reviews, poems, stories, essays, and fiction, all of which engender the soul of the national literature
                  </p>
              </div>
          </div> -->
      </div>

  </div>
</section>

<%- include("./partials/footer") -%>