<%- include("./partials/header") -%>
<div class="container">
    <div class="box box-h box-overflow pad-offset u-mt-10">
        <div class="columns">
            <div class="column is-6 login-column">
                <div class="login-form">
                    <form class="from" action="/login" method="POST">
                        <div class="field">
                            <h5 class="subtitle is-3 is-spaced">LogIn to SprinNG</h5>
                            <p class="subtitle is-6 is-spaced">Don't have an account? <span><a href="/signup">Sign up here</a></span></p>
                            <div class="hr-divider">OR</div>
                        </div>
                        <div class="field">
                            <!-- <label for="" class="label">Email</label> -->
                            <div class="control">
                                <input type="text" class="input" placeholder="Email" name="username">
                            </div>
                        </div>
                        <div class="field">
                            <!-- <label for="" class="label">Password</label> -->
                            <div class="control">
                                <input type="password" class="input" placeholder="Password" name="password">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button id="login-button" class="button is-primary is-outlined">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="column is-6 img-column is-hidden-mobile">
                <figure class="image img-mt-offset">
                    <img class="" src="./images/login-img-2.jpg" alt="login page image" width="" height="">
                </figure>
            </div>
        </div>
    </div>
</div>
