<%- include ("./partials/header") %>
<div class="container">
    <div class="box box-h box-overflow pad-offset u-mt-10">
        <div class="columns">
            <div class="column is-6 is-hidden-mobile">
                <figure class="image">
                    <img src="./images/image1.jpg" alt="sign up image">
                </figure>
            </div>
            <div class="column is-6">
                <div class="signup-form mt-6">
                    <form action="/signup" method="POST" class="form form-w">
                        <div class="field">
                            <h5 class="subtitle is-3 is-spaced">Sign Up to SprinNG</h5>
                            <!-- <div class="hr-divider">OR</div> -->
                        </div>
                        <div class="field is-grouped">
                            <div class="control frm-control-width">
                                <input type="text" name="firstName" class="input" placeholder="Frist Name" >
                            </div>
                            <div class="control frm-control-width" >
                                <input type="text" name="lastName" class="input" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input type="text" name="username" class="input" placeholder="Email">
                            </div>
                        </div>
                            <div class="field">
                                <div class="control">
                                    <input type="password" name="password" class="input" placeholder="Password">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button id="login-button" class="button is-primary is-outlined">Sign Up</button>
                                </div>
                            </div>
                    </form>
                    <p class="subtitle is-6 is-spaced mt-6">Have an account? <span><a href="/login">Login here</a></span></p>
                </div>
            </div>
        </div>
    </div>
   </div>