<%- include ("./partials/header") %>
<div class="container">
  <div class="profile-setup-form u-mt-10">
      <div class="box">
          <form data-multi-step class="multi-step-form" actiom="/welcome" method="POST">
              <div class="form-card" data-step>
                  <h1 class="title step-title">Personal Information</h1>
                  <div class="field is-grouped">
                      <div class="control">
                          <input type="text" name="" placeholder="First Name"  class="input" value="<%= currentUser.firstName %>">
                      </div>
                      <div class="control">
                          <input type="text" name="" placeholder="Last Name" class="input" value="<%= currentUser.lastName %>">
                      </div>
                  </div>
                  <div class="field is-grouped">
                      <div class="control">
                          <input type="text" name="userInfo[location]" placeholder="Country" class="input">
                      </div>
                      <div class="control">
                          <input type="text" name="userInfo[website]" placeholder="eg www.mysite.com" class="input">
                      </div>
                  </div>
                  <div class="field">
                      <div class="control">
                          <textarea class="textarea" name="userInfo[biography]" placeholder="Biography"></textarea>
                      </div>
                  </div>
                  <div class="field">
                      <div class="control">
                          <button class="button is-primary is-outlined" type="button" data-next>Next</button>
                      </div>
                  </div>
              </div>

              <div class="form-card" data-step>
                  <h1 class="title step-title">Published Books</h1>
                  <div class="field">
                      <div class="control">
                          <input type="text" name="bookInfo[bookTitle]" placeholder="Title" class="input">
                      </div>
                      </div>
                      <div class="field">
                      <div class="control">
                          <input type="text" name="bookInfo[category]" placeholder="Category" class="input">
                      </div>
                  </div>
                  <div class="field">
                      <div class="control">
                          <textarea class="textarea" name="bookInfo[bookDescription]" placeholder="Description"></textarea>
                      </div>
                  </div>
                  <div class="field is-grouped">
                      <div class="control">
                          <button class="button is-primary is-outlined" type="button" data-previous>Previous</button>
                      </div>
                      <div class="control">
                          <button class="button is-primary is-outlined" type="button" data-next>Next</button>
                      </div>
                  </div>
              </div>

              <div class="form-card" data-step>
                  <h1 class="title step-title">Published Articles</h1>
                  <div class="field">
                      <div class="control">
                          <input type="text" name="articleInfo[articleTitle]" placeholder="Title" class="input">
                      </div>
                      </div>
                      <div class="field">
                      <div class="control">
                          <input type="date" name="articleInfo[publishingYear]" placeholder="MM/DD/YYYY" class="input">
                      </div>
                  </div>
                  <div class="field">
                      <div class="control">
                          <textarea class="textarea" name="articleInfo[articleDescription]" placeholder="Description"></textarea>
                      </div>
                  </div>
                  <div class="field is-grouped">
                      <div class="control">
                          <button class="button is-primary is-outlined" type="button" data-previous>Previous</button>
                      </div>
                      <div class="control">
                          <button class="button is-primary is-outlined" type="button" data-next>Next</button>
                      </div>
                  </div>
              </div>

              <div class="form-card" data-step>
                  <h1 class="title step-title">Social Links</h1>
                  <div class="field">
                      <div class="control">
                          <input type="text" name="linkedin" placeholder="LinkedIn username" class="input">
                      </div>
                      </div>
                      <div class="field">
                      <div class="control">
                          <input type="text" name="twitter" placeholder="Twitter username" class="input">
                      </div>
                  </div>
                  <div class="field">
                      <div class="control">
                          <input type="text" name="instagram" placeholder="Instagram username" class="input">
                      </div>
                  </div>
                  <div class="field is-grouped">
                      <div class="control">
                          <button class="button is-primary is-outlined" type="button"  data-previous>Previous</button>
                      </div>
                      <div class="control">
                          <button class="button is-primary is-outlined">Submit</button>
                      </div>
                  </div>
              </div>

          </form>
      </div>
  
  </div>
</div>

