html,
body {
    overflow-x: hidden;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
   box-sizing: inherit;
}



/** general margin styles **/ 
.u-mt-10 {
	margin-top: 10rem;
}

.u-mt-8 {
    margin-top: 8rem;
}

.u-mt-4 {
    margin-top: 4rem;
}
/** bulma custom css **/


.search-w {
    width: 100%;
}
.h-size {
    height: 188px;
}

/** utilities **/
.mt {
    margin-top: 6rem;
}

.mt-b {
    margin-top: 20rem;
}

.fw {
    font-weight: 600;
}

.c-txt {
    text-align: center;
}

.box {
    background-color: rgba(255, 255, 255, 0.8);
}

.feature-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    text-align: center;
    border-radius: 3px;
    border: 0.8px solid #fdfdfd;
    /* box-shadow: 0 15px 4px rgb(0 0 0 / 15%); */
    transition: transform .3s;
}
.mb-sm {
    margin-bottom: 5rem !important;
}
.mt-sm {
    margin-top: 3rem !important;
}
/*
====================
  typography
====================
*/
.title-primary {
    color: #fff;
}

/*
====================
  custom buttons
====================
*/
.btn-text {
    font-size: 17px;
    font-weight: 700;
    color: #075c31;
    text-decoration: none;
    /* border-bottom: 1px solid #075c31; */
    transition: all .2s;
    padding: 3px;
}
.btn-text:hover {
    background-color: #075c31;
    color: #fff;
    box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
    transform: translateY(-2px);
    
}

/** fa icons **/
.fa-icon-color,
.txt-color {
   color: #075c31;
}



/* 
.search-is-hidden {
    display: none;
} */


.fa-search:before {
    content: "\f002";
}


/* @media only screen and (min-width: 768px) {

} */

/*
====================
    Hero
====================
*/
.hero {
    /* background-image: url(../img/hero-bg.png); */
    background: linear-gradient(220.55deg, #00B960 0%, #00552C 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-img {
    position: relative;
}

.hero-img-1 {
    right: -24rem;
    top: 2rem;
}

.hero-img-2 {
    right: -11rem;
}

.no-flex {
    display: block;
}

.hero-title-size {
    font-size: 6rem;
}

.hero-subtitle-size {
    font-size: 3rem
}

.w-text {
    color: #fff;
}

.w-text-hover:hover {
    color: #fff;
}
/*
====================
    navigation
====================
*/
/* .navbar {
	box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
} */
.navbar-burger {
    margin-left: 0;
}

.navbar-search-icon  {
    visibility: hidden;
}

/** navbar search **/
.navbar-search-icon {
    justify-content: center;
    padding: 0;
    width: 3.25rem;
    color: #00d1b2;
    cursor: pointer;
    margin-left: auto;
    border: none;
    background-color: transparent;

}

.search {
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%);
    left: 0;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 3.25rem;
    z-index: 100;
    display: none;
}

.search-is-visible {
    display: block;
}

.nav-search {
    display: flex
}

.navbar-dropdown {
    left: -14rem;
}



/*
====================
    about-us
====================
*/
.about-us {
    margin-top: -3rem;
}

.about-content {
    margin-top: 2.5rem;
}
.est-date .is-1 {
    font-size: 2.8rem;
}

#about-us {
    background-color: #f7f7f7;
    position: relative
}

/*
====================
   about-team
====================
*/
#about-team {
    background: linear-gradient(220.55deg, #00B960 0%, #00552C 100%);
    color: #fff;
    padding-bottom: 8rem;
}

.feature-box-photo img {
    width: 50%;
    border-radius: 50%;
}

.team-member-name,
.team-member-role {
    color: #777;
}


.catg-text {
    margin: 0 !important;
}

.box-overflow {
    overflow: hidden;
}

.box-h {
    height : 40rem;
}

.img-h {
    /* height: 620px; */
    height: 38.7rem !important;
} 

.login-form,
.signup-form {
    padding: 6rem;
    
}

.form-w {
    width: 100%;
}

.hr-divider {
	display: flex;
	align-items: center;
	text-align: center;
	margin-bottom: 2rem;
	/* border-bottom: 1px solid #777;
	text-align: center; */
}

.hr-divider::after,
.hr-divider::before {
	content: "";
	border-bottom: 1px solid #777;
	flex: 1
}

.hr-divider:not(:empty)::before {
	margin-right: .8rem;
}

.hr-divider:not(:empty)::after {
	margin-left: .8rem;
}

.pad-offset {
    padding: 0;
}

.img-mt-offset {
    margin-top: -3rem;
}

.box-icon {
    margin-bottom: .5rem;
    text-align: center;
}

/*===========================
    forgot password
=============================*/
.pass-reset,
.forgot-pass {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

/**
====================
	footer styles
==================== 
*/
.footer {
	background-color: #333;
	color: #f7f7f7;
	padding: 150px;
	font-size: 15px;


}

.footer-logo-box {
	text-align: center;
	font-size: 50px;
}

.footer-logo {
	text-decoration: none;
	font-weight: 700;
	color: #fff;
	letter-spacing: 2px;
}

.footer-text,
.footer-copyright {
	border-top: 1px solid #777;
	padding-top: 20px;
	width: 80%;
}

.footer-copyright {
	float: right;

}

/** 
    ======================
    profile setup 
    =====================
**/

.form-card {
    animation: fade 250ms ease-in-out forwards;
}


.form-card.active {
	animation: slide 250ms 125ms ease-in-out both;
  }
  
  .multi-step-form {
	overflow: hidden;
	position: relative;
  }
  
  .hide {
	display: none;
  }
  
  @keyframes slide {
	0% {
	  transform: translateX(200%);
	  opacity: 0;
	}
	100% {
	  transform: translateX(0);
	  opacity: 1;
	}
  }
  
  @keyframes fade {
	0% {
	  transform: scale(1);
	  opacity: 1;
	}
	50% {
	  transform: scale(.75);
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	  transform: scale(0);
	}
  }




/** media query **/

@media only screen and (max-width: 768px){
    .tile-mb-br {
        margin-bottom: 10.5rem;
    }
}

@media only screen and (max-width: 768px){
    /* hero responsive styles */
    .level-content {
        margin-top: 2.5rem;
    }

    .hero-text-headline {
        text-align: center;
    }
    .hero-title-size {
        font-size: 3rem;
        display: inline;
    }
    .hero-subtitle-size {
        font-size: 2rem;
        display: inline;
    }

    .hero .subtitle {
        font-size: 1.3rem;
    }

    .hero-button {
        display: inline-block;
        margin: .8rem 6rem 0;
    }

    /* .navbar-menu {
        display: flex;
    } */

    /* .navbar-menu .level .level-left {
         display: flex;
    } */

    .navbar-search-icon  {
        visibility: visible;
        /* margin-left: 1rem; */
    }

    .nav-sr-btn {
        margin-left: 1rem;
    }

    .navbar-end {
        display: block;
        margin-left: 1rem;
    }
    
    .search-w {
        width: inherit;
    }

    .login-form {
        padding: 4rem;
    }

    .signup-form {
        padding: 2rem;
    }

    .frm-control-width {
        width: 50%;
    }

    .form-w {
        width: 90%;
    }

    .box {
        height: auto;
    }

    #fl-shrink {
        flex-shrink: 5;
    }
    .pass-reset,
    .forgot-pass {
        width: 90%;
    }
    .pass-reset .title,
    .forgot-pass .title {
        font-size: 1.5rem;
    }
}


@media  (min-width: 769px ) and (max-width: 1023px) {
    .navbar-search-icon  {
        visibility: visible;
        margin-left: 40rem;
    }

    .hero-body .level {
        margin: 0 auto;
    }

    .hero-text-headline {
        text-align: center;
    }
    .hero-title-size {
        font-size: 6rem;
        display: inline;
    }
    .hero-subtitle-size {
        font-size: 3rem;
        display: inline;
    }

    .hero-body .subtitle {
        margin: .6rem 0 1.2rem;
        font-size: 2rem;
        font-weight: 400;
    }

    .hero-button {
        display: inline-block;
        margin: 0 auto;
    }

    .team-member-name {
        font-size: 1rem !important;
    }

    .team-member-role {
        font-size: .9rem !important;
    }

  
}