<%- include ("../partials/header") %>
<div class="container u-mt-4">
    <div class="pass-reset">
       <div class="box">
         <h1 class="title">Reset Password</h1>
          <form action="/reset/<%= token %>?_method=PUT" method="POST">
             <div class="field">
                 <div class="control">
                     <input class="input" type="password" placeholder="New Password" name="password" id="passowrd" focus>
                 </div>
             </div>
             <div class="field">
                 <div class="control">
                     <input class="input" type="password" placeholder="Confirm Password" name="passwordConfirm" id="confirm">
                 </div>
             </div>
             <div class="field">
                 <div class="control">
                     <button class="button is-primary is-outlined">Reset Password</button>
                 </div>
             </div> 
          </form>
       </div>
    </div>
</div>
